server:
  port: 8081
spring:
  application:
    name: mod-rtac-cache
  threads:
    virtual:
      enabled: true
  cloud:
    openfeign:
      okhttp:
        enabled: true
  datasource:
    username: ${DB_USERNAME:folio_admin}
    password: ${DB_PASSWORD:folio_admin}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}?ApplicationName=${spring.application.name}
  hikari:
    data-source-properties:
      # see https://jdbc.postgresql.org/documentation/use/#connection-parameters
      ApplicationName: ${spring.application.name}
  sql:
    init:
      # to boot up application despite of any DB connection issues
      continue-on-error: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jackson:
    default-property-inclusion: non_empty
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  mustache:
    check-template-location: false
  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:9092}
    consumer:
      max-poll-records: ${MAX_POLL_RECORDS:50}
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      key-store-password: ${KAFKA_SSL_KEYSTORE_PASSWORD:}
      key-store-location: ${KAFKA_SSL_KEYSTORE_LOCATION:}
      trust-store-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
      trust-store-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
folio:
  environment: ${ENV:folio}
  tenant:
    validation:
      enabled: true
  kafka:
    retry-interval-ms: ${KAFKA_RETRY_INTERVAL_MS:2000}
    retry-delivery-attempts: ${KAFKA_RETRY_DELIVERY_ATTEMPTS:6}
    topics: []
    listener:
      holdings-record:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.inventory\.holdings-record}
        group-id: ${folio.environment}-mod-rtac-cache-holdings-record-group
      item:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.inventory\.item}
        group-id: ${folio.environment}-mod-rtac-cache-item-group
      location:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.inventory\.location}
        group-id: ${folio.environment}-mod-rtac-cache-location-group
      library:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.inventory\.library}
        group-id: ${folio.environment}-mod-rtac-cache-library-group
      loan:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.circulation\.loan}
        group-id: ${folio.environment}-mod-rtac-cache-library-group
      request:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.ALL\.circulation\.request}
        group-id: ${folio.environment}-mod-rtac-cache-library-group
      piece:
        concurrency: ${KAFKA_EVENTS_CONCURRENCY:2}
        topic-pattern: ${KAFKA_EVENTS_CONSUMER_PATTERN:${folio.environment}\.Default\.ALL\.ACQ_PIECE_CHANGED}
        group-id: ${folio.environment}-mod-rtac-cache-library-group
  system-user:
    enabled: ${SYSTEM_USER_ENABLED:false}
    username: ${SYSTEM_USER_USERNAME:mod-rtac-cache}
    password: ${SYSTEM_USER_PASSWORD}
    lastname: System
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
  #  endpoint:
  #    health:
  #      show-details: always
  #      show-components: always
  ###################################################
  # Disable all checks except for readiness
  ###################################################
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true
debug: false
